html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(43, 91, 97);
  justify-content: center;
}

.container {
  width: 50vw;
  height: 50vh;
}

h1 {
  font-family: 'Lobster Two', sans-serif;
}

.button {
  font-family: 'Satisfy', sans-serif;
}
